<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapiboard.repository.BoardMapper">
    <select id="findAll" parameterType="hashMap" resultType="BoardVo">
        SELECT * FROM BOARD
        ORDER BY BOARD_ID DESC
        LIMIT #{displayPost}, #{postNum}
    </select>

    <insert id="save" parameterType="BoardVo">
        INSERT INTO
            BOARD (TITLE, AUTHOR, CONTENT, ISUPDATED, DATE)
        VALUES
           (#{title}, #{author}, #{content}, #{isUpdated}, #{date})
    </insert>

    <select id="findOne" parameterType="int" resultType="BoardVo">
        SELECT * FROM BOARD WHERE BOARD_ID = #{id}
    </select>

    <update id="update" parameterType="BoardVo">
        UPDATE BOARD SET TITLE = #{title}, CONTENT = #{content}, ISUPDATED = #{isUpdated} WHERE BOARD_ID = #{board_id}
    </update>

    <delete id="deleteOne" parameterType="int">
        DELETE FROM BOARD WHERE BOARD_ID = #{id}
    </delete>

    <select id="count" resultType="int">
        SELECT count(BOARD_ID) FROM BOARD
    </select>

    <select id="search" parameterType="String" resultType="BoardVo">
        SELECT * FROM BOARD WHERE TITLE LIKE CONCAT('%',#{title},'%')
    </select>

    <insert id="pressLike" parameterType="LikeVo">
        INSERT INTO
            _LIKE (PARENT_ID, MEMBER_ID, PARENT_TYPE, LIKE_TYPE)
        VALUES
            (#{parent_id}, #{member_id}, #{parent_type}, #{like_type})
    </insert>
</mapper>