<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapiboard.repository.CommentMapper">
    <select id="findAll" parameterType="int" resultType="CommentVo">
        SELECT * FROM COMMENT WHERE BOARD_ID = #{board_id}
    </select>

    <insert id="save" parameterType="CommentVo" useGeneratedKeys="true" keyProperty="comment_id">
        INSERT INTO
            COMMENT (BOARD_ID, MEMBER_ID, CONTENT, ISUPDATED, DATE)
        VALUES
           (#{board_id}, #{member_id}, #{content}, #{isUpdated},  #{date})
    </insert>

    <select id="update" parameterType="CommentVo">
        UPDATE COMMENT SET CONTENT = #{content}, ISUPDATED = #{isUpdated} WHERE COMMENT_ID = #{comment_id}
    </select>

    <select id="delete" parameterType="int">
        DELETE FROM COMMENT WHERE COMMENT_ID = #{comment_id}
    </select>
</mapper>