<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapiboard.repository.CommentMapper">
    <select id="findAll" parameterType="int" resultType="CommentVo">
        SELECT * FROM COMMENT WHERE BOARD_ID = #{boardId}
    </select>

    <insert id="save" parameterType="CommentVo">
        INSERT INTO
            COMMENT (BOARD_ID, MEMBER_ID, CONTENT, LIKE_COUNT, DISLIKE_COUNT, DATE)
        VALUES
           (#{board_id}, #{member_id}, #{content}, #{like_count}, #{dislike_count}, #{date})
    </insert>

    <select id="update" parameterType="CommentVo">
        UPDATE COMMENT SET CONTENT = #{content}, DATE = #{date} WHERE COMMENT_ID = #{commentId}
    </select>

    <select id="delete" parameterType="int">
        DELETE FROM COMMENT WHERE COMMENT_ID = #{commentId}
    </select>
</mapper>