<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.restapiboard.repository.MemberMapper">

    <insert id="save" parameterType="MemberVo" useGeneratedKeys="true" keyProperty="member_id">
        INSERT INTO
            MEMBER (LOGIN_ID, LOGIN_PASSWORD, EMAIL, NAME, NICKNAME, KAKAO_ID)
        VALUES
           (#{login_id}, #{login_password}, #{email}, #{name}, #{nickname}, #{kakao_id})
    </insert>

    <update id="updateMember" parameterType="MemberVo">
        UPDATE MEMBER SET KAKAO_ID = #{kakao_id} WHERE MEMBER_ID = #{member_id}
    </update>

    <update id="nicknameUpdate" parameterType="MemberVo">
        UPDATE MEMBER SET NICKNAME = #{nickname} WHERE MEMBER_ID = #{member_id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM MEMBER WHERE MEMBER_ID = #{member_id}
    </delete>

    <select id="findIdByLoginId" parameterType="String" resultType="int">
        SELECT MEMBER_ID FROM MEMBER WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="findByNickname" parameterType="String" resultType="MemberVo">
        SELECT * FROM MEMBER WHERE NICKNAME = #{nickname}
    </select>

    <select id="findByLoginId" parameterType="String" resultType="MemberVo">
        SELECT * FROM MEMBER WHERE LOGIN_ID = #{login_id}
    </select>

    <select id="findByKakaoId" parameterType="Long" resultType="MemberVo">
        SELECT * FROM MEMBER WHERE KAKAO_ID = #{kakaoId}
    </select>

    <select id="findByEmail" parameterType="String" resultType="MemberVo">
        SELECT * FROM MEMBER WHERE EMAIL = #{email}
    </select>
</mapper>